body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 30px;
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#playAgain {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: none;
}
#box {
    width: 150px;
    height: 150px;
    background-image: url('assests/donald.png');
    background-size: cover;
    background-position-x: -20px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: none;
    position: absolute;
    margin: 0 auto;
    cursor: pointer;
}

#message {
    margin: 20px 0;
    font-size: 1.5rem;;
}

#result {
    font-size: 1.5em;
    color: green;
}
#name {
    font-size: 1.5em;
    color: green;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#startButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
